<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @clip.url %>
</p>

<div class="row">
  <h1><%= @clip.title %></h1>
  <div class="col-md-4">
    <%= image_tag @clip.image, 
            class: 'img-fluid' if @clip.image %>
  </div>
  <div class="col-md-8">    
    <p>
      <%=link_to @clip.url, @clip.url, 
         target: '_blank' %></p>
    <p><%= @clip.description %></p>    
  </div>
</div>
<hr>
<%= link_to '戻る', clips_path %>
