<p id="notice"><%= notice %></p>


  <strong>Name:</strong>
  <p><%= @inquiry.name %></p>

  <strong>Email:</strong>
  <p><%= @inquiry.email %></p>

  <strong>Body:</strong>
  <p><%= @inquiry.body %></p>


<%= link_to 'Back', inquiries_path %>
